@page "/"
@using System.Threading.Tasks
@rendermode InteractiveServer
@inject IBookService BookService;

<div>Books!</div>
<button class="btn btn-success mb-3" @onclick="OpenCreateEditor">
    <span class="oi oi-plus" aria-hidden="true"></span> Add New Item
</button>
@if (Books == null)
{
    <p><em>Fetching books...</em></p>
}
else if (!Books.Any())
{
    <p>No books recorded.</p>
}
else
{
    <div>

        <ul>
            @foreach (var book in Books)
            {
                <li>
                    <BookView Book="book" />
                </li>
            }
        </ul>
    </div>
}

@if (isModalOpen)
{
    <AddBooks CloseCreateEditor="CloseCreateEditor" SaveNewBooks="SaveNewBooks" />
}

@code {

    private List<Book>? Books = new List<Book>();
    private readonly IBookService _bookService;
    //private AddBooks addBooks = default!;
    private bool isModalOpen = false;

    public Home(IBookService bookService)
    {
        _bookService = bookService;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await _bookService.GetAllAsync();
            if (result != null)
            {
                Books = result.ToList();
            }
        }
        catch (Exception ex)
        {
            System.Console.WriteLine($"ex.Message: {ex.Message}");
        }
    }

    private void OpenCreateEditor()
    {
        isModalOpen = true;
    }

    private void CloseCreateEditor()
    {
        isModalOpen = false;
    }

    private async Task SaveNewBooks(Book newBook)
    {
        try
        {
            var result = await _bookService.AddBookAsync(newBook);
            isModalOpen = false;
        }
        catch (Exception ex)
        {
            System.Console.WriteLine($"ex.Message: {ex.Message}");
        }

    }
}
