@page "/"
@inject IBookService BookService;

<div>Books!</div>
<button name="Add Book" onclick="OpenCreateEditor" />
@if (Books == null)
{
    <p><em>Fetching books...</em></p>
}
else if (!Books.Any())
{
    <p>No books recorded.</p>
}
else
{
    <div>

        <ul>
            @foreach (var book in Books)
            {
                <li>
                    <BookView Book="book" />
                </li>
            }
        </ul>
    </div>
}

@code {

    private List<Book>? Books = new List<Book>();
    private readonly IBookService _bookService;

    public Home(IBookService bookService)
    {
        _bookService = bookService;
    }

    protected override async Task OnInitializedAsync()
    {
            try
            {
                var result = await _bookService.GetAllAsync();
                if (result != null)
                {
                    Books = result.ToList();
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"ex.Message: {ex.Message}");
            }
        }

        public void OpenCreateEditor()
        {
            // open a modal to fill in new book info
            // do one at a time for now
            // add multiple books later
        }
}
