@page "/"
@inject BookService BookService;
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using TomekReads.Controllers;
@using TomekReads.Data.Models
@using TomekReads.Data.Services
@using TomekReads.Models;
@using TomekReads.Services;

<div>
    <button name="Add Book" onclick="OpenCreateEditor"/>
    <ul>
        @foreach (var book in Books)
        {
            <li>
                <BookView Book="book" />
            </li>
        }
    </ul>
</div>

@code {
    public class HomeModel : PageModel
    {

        public List<Book> Books = new List<Book>();
        private readonly IBookService _bookService;

        public HomeModel(IBookService bs)
        {
            _bookService = bs;
        }

        protected override async Task OnInitializedAsync()
        {
            try
            {
                var result = await _bookService.GetAllAsync();
                if (result != null)
                {
                    Books = result.ToList();
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"ex.Message: {ex.Message}");
            }
        }

        public void OpenCreateEditor()
        {
            // open a modal to fill in new book info
            // do one at a time for now
            // add multiple books later
        }
    }
    
}
