@page "/"
@inject IBookService BookService;

<div>Books!</div>
<button class="action-button"
        type="button"
        onclick="OpenCreateEditor">Add Books</button>
@if (Books == null)
{
    <p><em>Fetching books...</em></p>
}
else if (!Books.Any())
{
    <p>No books recorded.</p>
}
else
{
    <div>

        <ul>
            @foreach (var book in Books)
            {
                <li>
                    <BookView Book="book" />
                </li>
            }
        </ul>
    </div>
}

@if (IsModalOpen) {
    <AddBooks />
}

@code {

    private List<Book>? Books = new List<Book>();
    private readonly IBookService _bookService;
    private AddBooks addBooks = default!;
    private bool IsModalOpen = false;

    public Home(IBookService bookService)
    {
        _bookService = bookService;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await _bookService.GetAllAsync();
            if (result != null)
            {
                Books = result.ToList();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"ex.Message: {ex.Message}");
        }
    }

    public void OpenCreateEditor()
    {
        IsModalOpen = true;
    }
}
