@rendermode InteractiveServer

<div class="modal-backdrop show"></div>

<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">AddBooks</h3>
                <Button type="button" class="btn-close" @onclick="CloseCreateEditor" />
            </div>
            <div class="modal-body">
                <label title="Enter book title">
                    <input required @bind="Title" />
                </label>

                <label title="Enter book rating">
                    <input type="number" @bind="Rating" />
                </label>

                <label title="Enter book review">
                    <input type="text" @bind="Review" />
                </label>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CloseCreateEditor" />
                <button type="button" class="btn btn-primary" @onclick="AddBook">Save</button>
            </div>
        </div>
    </div>
</div>
@* 
<div>
    <label title="Enter book title">
        <input required @bind="Title" />
    </label>
    
    <label title="Enter book rating">
        <input type="number" @bind="Rating" />
    </label>

    <label title="Enter book review">
        <input type="text" @bind="Review" />
    </label>
    
    <button title="Submit" @onclick="AddBook" />
</div> *@

<button name="Add Another" />

@code {
    public required string Title { get; set; }
    public int Rating { get; set; }
    public string? Review { get; set; }

    public async Task AddBook()
    {
        // put togehter a Book object using the inputs
        var newBook = new Book
            {
                Id = Guid.CreateVersion7().ToString(),
                Title = Title,
                Rating = Rating,
                Review = Review,
            };
        if (SaveNewBooks.HasDelegate)
        {
            await SaveNewBooks.InvokeAsync(newBook);
        }
    }

    [Parameter]
    public EventCallback CloseCreateEditor { get; set; }

    [Parameter]
    public EventCallback<Book> SaveNewBooks { get; set; }
}
